@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen;
  }
}

.sd-frame {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.sd-frame > * {
  flex: 0 0 50%;
}

.sd-group {
  border: 1px solid rgb(217, 220, 221);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.cb-rect-title {
  color: rgb(77, 117, 228);
}
.cb-rect-items {
  color: rgb(145, 162, 209);
  font-size: small;
}
.cb-rect-items > div:nth-of-type(odd) {
  color: rgb(87, 117, 201);
}

.list-items {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.list-items > * {
  flex: 0 0 50%;
}

.price {
  color: rgb(75, 75, 182);
  font-weight: bold;
}
.target {
  color: #38c71b;
}
.sl {
  color: #ec0c0c;
}

.sm-24 {
  height: 24px;
  width: 24px;
}

.sm-button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  flex: auto;
  min-width: 0;
  width: 180px;
  background: #444;
  border: 1px solid;
  border-color: #111111 #0a0a0a black;
  border-radius: 1px;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.4)
  );
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.sm-button:active {
  background: rgb(44, 44, 44);
  background-image: -webkit-linear-gradient(
    bottom,
    transparent,
    rgba(0, 0, 0, 0.4)
  );
  background-image: -moz-linear-gradient(
    bottom,
    transparent,
    rgba(0, 0, 0, 0.4)
  );
  background-image: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.4));
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.sm-button:disabled,
.sm-button[disabled] {
  color: #444;
}
