@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen;
  }
}

.price {
  color: rgb(75, 75, 182);
  font-weight: bold;
}
.target {
  color: #38c71b;
}
.sl {
  color: #ec0c0c;
}
.text-harmony {
  /* @apply bg-gradient-to-r from-harmony_blue to-harmony_green; */
}
.bg-harmony {
  /* @apply bg-gradient-to-r from-harmony_blue to-harmony_green; */
}
.harmony {
  /* @apply bg-gradient-to-r from-harmony_blue to-harmony_green; */
}
.sm-24 {
  height: 24px;
  width: 24px;
}

.sm-18 {
  height: 18px;
  width: 18px;
}

.sm-12 {
  height: 12px;
  width: 12px;
}
